html {
	font: normal normal normal 12px/normal "Times New Roman", Times, serif;
}

.aiutiNascosti {
	display: none;
}

#header {
 	padding: 1.0em 0em;
 	text-align: center;
 	margin: 0.5em 0;
}

#logo {
	display: none;
}

#header h2 {
	font-style: italic;
}

#breadcrumb {
	/* padding: 0.5em 0 0.5em 1.0em;
	font-size: 1.0em;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; */
	display: none;
}

#rightSideBar {
	display: none;
}

.contenutoGenerale {
	width: 100%;
	padding: 0.5em;
	text-align: justify;
}

.contenutoGenerale h1 {
	margin-bottom: 0.5em;
}

.contenutoGenerale p {
	margin: 1.0em 0;
}

.contenutoGenerale ul {
	margin: 0 0 1em 2em;
}

.titleImageTerritorio img {
	width: 20%;
}

form {
	display: none;
}

.contentAboutUs img {
	display: none;
}

.bookContainer {
	display: none;
}

#footer{
	display: none;
}