*{
	padding: 0em;
	margin: 0em;
}

html, body{
	font-family: "Georgia" , "Times New Roman", sans-serif;
}

.aiutiNascosti{
	display: none;
}

/*

==============
SEZIONE HEADER
==============

*/

#header{
 	padding: 1.0em 0em 1.0em 0em;
 	text-align: center;
 	margin-top: 0.5em;
 	margin-bottom: 0.5em;
}

#header h1{
	font-size: 2em;
}

#logo{
	display: none;
}

#header h2{
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
}

/*

==============
SEZIONE BREADCUM
==============

*/

#breadcumb{
	padding: 0.5em 0 0.5em 1.0em;
	font-size: 1.0em;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/*

==============
SEZIONE MENU
==============

*/

#menu{
	display: none;
}

/*

==============
SEZIONE RIGHTSIDEBAR
==============

*/

#rightSideBar{
	display: none;
}

/*

==============
SEZIONE CONTENUTO
==============

*/

.contenutoGenerale{
	width: 100%;
	padding: 0.5em;
	font-size: 0.9em;
}

.contenutoGenerale h1{
	font-size: 2em;
	margin-bottom: 0.5em;
}
.contenutoGenerale h2{
	font-size: 1.2em;
}
.contenutoGenerale p{
	margin-top: 1.0em;
	margin-bottom: 1em;
}
.contenutoGenerale ul{
	margin-left: 2em;
	margin-bottom: 1em;
}

.imgContent{
	display: none;
}

/*

==============
SEZIONE FOOTER
==============

*/

#footer{
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0.5em;
	padding-top: 1.3em;
}

#footer img{
	display: none;
}