body{
	margin: auto;    
	max-width: 95%;
}

#header {
	min-height: 0em;
}

#header img {
	display: none;
}

#header h1 {
	font-size: 2.5em;
}

#header h2 {
	font-size: 1.2em;
}

/* breadcrumb */
#breadcrumb {
	border-bottom: none;
	position: static;
	min-height: 2em;
	font-size: 1.15em;
	padding: 0;
}

/*    MENU    */
#menu {
	float: none;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #DDD;
	color: #fff;
	padding: 0;
	position: static;
}

#menu ul {
	width: 50%;
	margin: auto auto 2% auto;
}

#menu li {
	float: none;
	min-height: 2em;
	border-radius: 0;
	margin-top: 0.5em;
	margin-right: 0;
}

#menu ul li{	
	padding: 0.3em;
}

#user {
	float: none;
	min-height: 2em;
	margin-top: 0.7em;
	text-align: right;
	position: static;
    padding-right: 0;
    bottom: 0;
}

#user ul{
	float: right;
}

#user a, #user span{	
	border-radius: 0;
    bottom: 0;
    padding:0 0.8em 0.3em 0.8em;
}

#user .reg {
	float: none;
}

.logout{	
	float: none;
}

/*  RIGHT SIDEBAR */
#rightSideBar {
	width: 100%;
	margin: auto auto 2% auto;
	float: none;
	text-align: center;
	border-top: 1px solid #DDD;
}

/*    CONTENUTO    */

#toTopButton{
	display: none;
}

.prenot_form{
	margin-left: 0;
}

.contenutoGenerale {
	margin: auto;
	padding: 0.5em;
	width: 95%;
	float: none;
	border-width: 0;
}

.bedroom>img {
	width: 100%;
	margin: 0;
}

.bedroom>ul { 
	width: 75%;
	max-width: 100%;
	margin: 0.5em auto 0 4em;
}

.services dl {
	padding-top: 1em;
	max-width: 100%;
}

.services div {
	padding: 1em 0 0.5em 0;
	max-width: 100%;
	margin: 0 0 0 1em;
}

#contentHomePage {
	width: 90%;
	margin: auto;
	border: 0;
}

fieldset {
	border: 1px solid #cc4b58;
	margin: 0 0 2.5% 0;
}

textarea {
	width: 90%;
}

input[type="text"], input[type="password"] {
	width: 85%;
	padding: 0.5em;
}

/* FOOTER */
#footer{
	padding: 2%;
	margin: auto auto 5% auto;
}