#header {
	min-height: 0em;
}

#header img {
	display: none; 
}

#header h1 {
	font-size: 2.5em;
}

#header h2 {
	font-size: 1.2em;	
}

/*    MENU    */

#menu {
	float: none;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #DDD;
	background-color: #c75f6a;
	color: #fff;
}

#menu ul {
	width: 50%;
	margin: auto;
}

/* breadcrumb */

#breadcrumb{
	border-bottom: none;
}

/*  RIGHT SIDEBAR */

#rightSideBar {
    width: 100%;
    margin: auto auto 2% auto;
	float: none;
    text-align: center;
	border-top: 1px solid #DDD;
}

/*    CONTENUTO    */

.contenutoGenerale {
	margin-left: 0em;
	padding: 0.5em;
	width: 95%;	
	float: none;
}

.bedroom>img {
	width: 100%;
}

.services dl { 
	padding-top: 1em;
	max-width: 100%;
}

.services div {
	padding-top: 1em;
	padding-bottom: 0.5em;
	max-width: 100%;
}

.services ul {
	margin-left: 1.5em;
}

#contentHomePage {
	width:90%;
	border: 0;
}

#charactersStory {
	width: 97%;
}