#header {
	min-height: 0em;
}

#header img {
	display: none;
}

#header h1 {
	font-size: 2.5em;
}

#header h2 {
	font-size: 1.2em;
}

/* breadcrumb */
#breadcrumb {
	border-bottom: none;
	position: static;
	min-height: 2em;
}

/*    MENU    */
#menu {
	float: none;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #DDD;
	color: #fff;
	padding: 0;
	position: static;
}

#menu ul {
	width: 50%;
	margin: auto;
}

#menu li {
	float: none;
	min-height: 2em;
	border-radius: 0;
	margin-top: 0.5em;
	margin-right: 0;
}

#menu ul li{	
	padding: 0.3em;
}

#user {
	float: none;
	height: 2em;
	margin-top: 0.3em;
	text-align: right;
	position: static;
    padding-right: 0;
    bottom: 0;
}

#user ul{
	float: right;
}

#user ul li{
	padding: 0;
}

#user a, #user span{	
	border-radius: 0;
    bottom: 0;
    padding:0 0.8em 0.3em 0.8em;
}

#user .reg {
	float: none;
}

.logout{	
	float: none;
}

/*  RIGHT SIDEBAR */
#rightSideBar {
	width: 100%;
	margin: auto auto 2% auto;
	float: none;
	text-align: center;
	border-top: 1px solid #DDD;
}

/*    CONTENUTO    */

.prenot_form{
	margin-left: 0;
}

.contenutoGenerale {
	margin-left: 0em;
	padding: 0.5em;
	width: 95%;
	float: none;
}

input{
	width:80%;
}

.bedroom>img {
	width: 100%;
}

.services dl {
	padding-top: 1em;
	max-width: 100%;
}

.services div {
	padding-top: 1em;
	padding-bottom: 0.5em;
	max-width: 100%;
}

.services ul {
	margin-left: 1.5em;
}

#contentHomePage {
	width: 90%;
	border: 0;
}

#charactersStory {
	width: 97%;
}